site_name: Road Notes
site_description: By Operators, For Operators.

theme:
  name: material
  font:
    text: Noto Serif
    code: Noto Sans Mono
  palette:
    - scheme: default
      primary: teal
      accent: deep orange
      toggle:
        icon: material/brightness-7 
        name: Switch to Dark Mode
    - scheme: slate
      primary: teal
      accent: deep orange
      toggle:
        icon: material/brightness-4
        name: Switch to Light Mode
  features:
    - navigation.instant
    - navigation.instant.progress
    - navigation.sections
    - navigation.tracking
    - toc.follow

  icon:
    logo: simple/note

extra:
  consent:
    title: Cookie consent
    description: >- 
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.
  analytics:
    provider: google
    property: G-C4P5WXZCVQ

copyright: Copyright &copy; 2025, Team Road Notes